.project {
    height: 350px;
    width: 250px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.project-inner {
    height: 80%;
    width: 80%;
    border-radius: 14px;
    position: relative;
}

.project-inner img {
    border-radius: inherit;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.project-inner h4 {
    text-align: center;
    font-size: clamp(10px, calc(1.5vw + 10px), 40px);
    bottom: 0;
    position: absolute;
    width: 100%;
}