.header {
    min-width: 100%;
    background-color: transparent;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    /* border-bottom: 1px solid #000; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    z-index: 100;
}

.header-title {
    width: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
}

.header-title .hide {
    display: none;
}

.header-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-info_mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .header-info {
        display: none;
    }

    .header-info_mobile {
        position: relative;
        display: inline-block;
    }

    .header-info_mobile-button {
        height: 35px;
        cursor: pointer;
    }

    .header-info_mobile-menu {
        display: none;
    }

    .opened {
        display: flex;
        position: absolute;
        flex-direction: column;
        left: -80px;
        background-color: #dda1f0;
        border-radius: 10px;
        padding: 5px;
        gap: 10px;
        transition: left 3.3s ease;
        border: 1px solid #000;
    }

    .header-info_mobile-menu_option {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
}