.home {
    min-width: 100vw;
    min-height: 100vh;
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    padding-top: 70px;
    /* Header's height + 10px */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title {
    font-size: clamp(20px, 2.6vw, 80px);
    /* Originally was 50px */
}

.home-title_dev {
    color: #1e1e1f;
}

.home-title_description {
    max-width: 800px;
    font-size: clamp(20px, 2.083vw, 60px);
    /* Originally was 40px */
    color: #414142;
}


@media only screen and (max-width: 768px) {
    .home {
        flex-direction: column;
    }

    .home-title {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}